{% extends "main.html" %}
{% block content %}

<!-- INSERT YOUR CODE HERE -->
<div class="edititem">
<form action="{{ url_for('editItem', item_id=item.id)}}" method='POST'>
    <p>Name:</p>
    <input type='text' size='30' name='name' placeholder='{{item.name}}'>
    <p>Description:</p>
        <input type ='text' size='30' name='description' placeholder = '{{item.description}}'>
    <p>Category:</p>
        <input type ='text' size='30' name='category' placeholder = '{{item.category.name}}'>
    <br>
    <input type='submit' value='Edit'>
</form>

<a href='{{url_for('showCategory', category_name = item.category.name)}}'><button>Cancel</button></a>
</div>
{% endblock %}