<div class="header">
    <div class="title">
        <h1>Item Catalog</h1>
    </div>
    <div class="login">
        {% if user %}
        <div class="username">
            <div><p class="username">{{user.name}}</p></div>
            <a href="{{url_for('disconnect')}}">Logout</a>
        </div>
        {% else %}
        <a href="{{url_for('showLogin')}}">Login</a>
        {% endif %}
    </div>
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class = "flash">
    <ul>
    {% for message in messages %}
        <li> <strong> {{ message }} </strong> </li>
    {% endfor %}
    </ul>
</div>
{% endif %}
{% endwith %}
