
{% extends "main.html" %}
{% block content %}
    <div class="categories">
        <h2>Categories</h2>
        <li><a href = "{{url_for('showCatalog')}}">All</a></li>
        {% for category in categories %}
            <li><a href="{{url_for('showCategory', category_name = category.name)}}">{{category.name}}</a>
            </li>
        {% endfor %}
    </div>

    {% if category %}
    <div class="items">
        <h2>{{category.name}}</h2>
            {% for item in items %}
                <li><a href="{{url_for('showItem', item_id = item.id)}}">{{item.name}}</a>
                </li>
            {% endfor%}
        </ul>
    </div>

    {% else %}
    <div class="items">
        <h2>Items</h2>
        <ul>
        {% for item in items %}
            <li><a href="{{url_for('showItem', item_id = item.id)}}">{{item.name}} ({{item.category.name}})</a>
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endblock %}